# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [17]:
#slices the first one off & change to float
chipo['prices'] = (chipo.item_price.str.slice(1)).astype(float)
chipo.prices

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: prices, Length: 4622, dtype: float64

In [35]:
(chipo.prices > 10).sum()

74

In [36]:
chipo['prices'].nunique()

78

In [38]:
(chipo['prices'].nunique()) & ((chipo.prices > 10).sum())

74

In [23]:
product_prices = chipo.groupby('item_name').agg({'prices' : 'max'})
product_prices

                                       prices
item_name
6 Pack Soft Drink                       12.98
Barbacoa Bowl                           11.75
Barbacoa Burrito                        11.75
Barbacoa Crispy Tacos                   18.50
Barbacoa Salad Bowl                     11.89
Barbacoa Soft Tacos                     11.75
Bottled Water                           15.00
Bowl                                    22.20
Burrito                                  7.40
Canned Soda                              4.36
Canned Soft Drink                        5.00
Carnitas Bowl                           35.25
Carnitas Burrito                        18.50
Carnitas Crispy Tacos                   17.98
Carnitas Salad                           8.99
Carnitas Salad Bowl                     11.89
Carnitas Soft Tacos                     11.75
Chicken Bowl                            32.94
Chicken Burrito                         35.00
Chicken Crispy Tacos                    17.50
Chicken Salad                           10.98
Chicken Salad Bowl                      22.50
Chicken Soft Tacos                      21.96
Chips                                    6.45
Chips and Fresh Tomato Salsa            44.25
Chips and Guacamole                     17.80
Chips and Mild Fresh Tomato Salsa        3.00
Chips and Roasted Chili Corn Salsa       5.90
Chips and Roasted Chili-Corn Salsa       2.39
Chips and Tomatillo Green Chili Salsa    5.90
Chips and Tomatillo Red Chili Salsa      5.90
Chips and Tomatillo-Green Chili Salsa    4.78
Chips and Tomatillo-Red Chili Salsa      7.17
Crispy Tacos                             7.40
Izze                                     3.39
Nantucket Nectar                         6.78
Salad                                    7.40
Side of Chips                           13.52
Steak Bowl                              26.07
Steak Burrito                           27.75
Steak Crispy Tacos                      17.98
Steak Salad                              8.99
Steak Salad Bowl                        23.78
Steak Soft Tacos                        18.50
Veggie Bowl                             16.98
Veggie Burrito                          33.75
Veggie Crispy Tacos                      8.49
Veggie Salad                             8.49
Veggie Salad Bowl                       11.25
Veggie Soft Tacos                       16.98

In [41]:
(product_prices.prices > 10).sum()

31

In [42]:
#31 of the products

In [51]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,prices,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [59]:
chipo['price_per_item'] = chipo.prices / chipo.quantity

In [58]:
price_per_item.info

NameError: name 'price_per_item' is not defined

In [66]:
product_prices = chipo.groupby('item_name').agg({'price_per_item' : 'max'})
prices_over_10 = (product_prices > 10).sum()
prices_over_10

price_per_item    25
dtype: int64

### Step 6. Sort by the name of the item

In [73]:
product_prices.sort_index()

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [86]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,prices,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49

In [89]:
product_prices.idxmax()

price_per_item    Barbacoa Salad Bowl
dtype: object

In [91]:
product_prices.max()

price_per_item    11.89
dtype: float64

In [83]:
chipo.prices.idxmax()

3598

In [85]:
chipo.loc[3598, :]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
prices                                       44.25
price_per_item                                2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [98]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [103]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
prices                18
price_per_item        18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [109]:
(chipo[chipo.item_name == 'Canned Soda'].quantity > 1).sum()

20

In [110]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20